@import "../../../styles/settings.scss";

.root {


  .currencyButton {
    background: none;
    border: none;
    font-size: 13px;
    color: #fff;


    &:hover {
      color: $primary;
    }

  }

  .menu {
    background-color: $header-topbar-bg;
    width: 40px;


    .menuItem {
      font-size: 13px;
      color: #fff;

      &:hover {
        color: $primary;

      }

    }
  }
}