@import "../../../styles/settings.scss";

.basicStars {
  display: inline;

  button {
    text-decoration: none;
    color: rgb(42, 42, 42);
    padding: 0;

    &.noPointer {
      cursor: auto;
    }
  }

  .hoverStars {
    color: $primary;
  }
}