@import "../../../styles/settings.scss";


.menu {
  display: flex;
  justify-content: center;
  height: 35px;
  gap: 30px;
  margin-left: 20px;


  .sortBy {
    .sortByTitle {
      display: inline;
      padding: 5px;

    }

    .selectSortedBy {
      color: $granitGrey;
      padding: 5px;
      border: 1px solid $light-grey;
      border-radius: 5px;

    }
  }

  .productsToDisplay {

    .productToDisplayTitle {
      display: inline;
      padding: 5px;


    }

    .selectProductsToDisplay {
      color: $granitGrey;
      padding: 5px;
      border: 1px solid $light-grey;
      border-radius: 5px;

    }
  }

  .displayForm {


    ul {
      //margin: 0;
      padding: 5px;
      list-style: none;
      border: 1px solid $light-grey;
      border-radius: 5px;

      li {
        display: inline-block;
        margin: 0 0.5rem;

        &.active,
        &:hover {
          color: $primary
        }

      }
    }
  }
}

@media (max-width: 1200px) {
  .menu {
    justify-content: flex-start;
    gap: 0px;

    .productsToDisplay {
      padding: 0 10px;
    }
  }
}

@media (max-width: 992px) {
  .menu {
    justify-content: center;

    .productsToDisplay {
      display: none;
    }

    .displayForm {
      display: none;
    }
  }
}

@media (max-width: 300px) {
  .menu {
    .sortBy {
      .sortByTitle {
        display: none;
      }
    }
  }
}