@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container)> :global(.row) {
    height: 100px;
  }

  .menuBarContainer {
    display: flex;
    justify-content: space-between;
    padding: inherit;

    .search {
      text-align: center;
      align-self: center;
    }

    .bars {
      border: none;
      background-color: white;
      font-size: 21px;
      display: none;
    }

    .menu {
      display: flex;
      position: relative;

      .desktopMenu {
        display: flex;
        justify-content: center;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          text-decoration: none;

          li {
            list-style: none;
            display: flex;
          }
        }

        a {
          color: $text-color;
          text-transform: uppercase;
          font-size: 12px;
          padding: 1rem;
          text-decoration: none;
          display: flex;
          align-items: center;
          border-top: 4px solid #ffffff;
          font-weight: 500;
          letter-spacing: 1px;

          &:hover,
          &.active {
            background-color: $primary;
            color: #ffffff;
            border-color: $primary;
          }

          &.active {
            border-color: $text-color;
          }
        }
      }
    }
  }

  &.mobileMenu {

    .bars {
      display: block;
      order: 1;
    }

    .menu {
      .desktopMenu {
        display: none;

        &.menuMobile {
          display: flex;
          position: absolute;
          top: 100px;
          left: 0;
          transform: translateX(-50%);
          background-color: #ffffff;
          z-index: 100;
          justify-content: center;

          ul {
            display: flex;
            flex-direction: column;


            li {
              display: inline;
              width: 100%;

              a {
                justify-content: center;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}





/* MEDIA QUERY */

@media (max-width: 1200px) and (min-width: 768px) {
  .root {
    .menuBarContainer {
      justify-content: center;

      .search {
        order: 2;
        padding-bottom: 5px;
      }


    }
  }
}

@media (max-width: 576px) {
  .root.mobileMenu {

    .menuBarContainer {
      flex-direction: column;
      justify-content: space-between;


      .bars {
        margin: 0 auto;
      }

      .desktopMenu {

        &.menuMobile {
          top: 30px;
          width: 100%;
          left: 0;
          transform: none;

          ul {
            width: 100%;



          }
        }
      }
    }
  }
}