@import "../../../styles/settings.scss";

.root {
  :global(.container)> :global(.row) {
    height: auto;
  }

  .carouselContainer {
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid $light-grey;
    border-top: 2px solid $light-grey;

    .brandContainer {
      display: flex;
      justify-content: center;


      .brandImage {
        max-width: 140px;
        border: solid 3px;
      }
    }

    button {

      background-color: $light-black;
      min-width: 25px;
      height: 100%;
      left: 0;
      z-index: 10;
      //transform: translateX(-70%);
    }


    button:last-child {
      max-width: 25px;
      left: 100%;
      transform: translateX(-100%);
    }
  }
}

@media screen and (max-width: 1199px) {

  .root {
    .carouselContainer {
      .brandContainer {
        .brandImage {
          max-width: 130px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .root {
    .carouselContainer {
      .brandContainer {
        .brandImage {
          max-width: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .root {
    .carouselContainer {
      .brandContainer {
        .brandImage {
          max-width: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .root {
    .carouselContainer {
      .brandContainer {
        .brandImage {
          max-width: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {

  .root {
    .carouselContainer {
      .brandContainer {
        .brandImage {
          max-width: 70px;
        }
      }
    }
  }
}