@import "../../../styles/settings.scss";

.root {

  .cartTable {
    margin: 50px auto;
    width: 98%;

    .lastRow {
      height: auto;
      padding: 8px;
      border: 1px solid $chat-textarea-bakground;
      font-size: 11px;
      align-items: center;

      input {
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  .cartTotalsTop {
    display: flex;
    height: 40px;
    font-size: 11px;
    font-weight: bold;
    background-color: $chat-textarea-bakground;
    align-items: center;
    justify-content: center;
  }

  .cartTotalsRows {
    display: flex;
    height: 40px;
    font-size: 11px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 1px solid $chat-textarea-bakground;
    border-bottom: none;
  }

  .borderLeft {
    border-left: 1px solid $chat-textarea-bakground;
  }

  .price {
    color: rgb(79, 183, 79);
  }

  .cartTotalsBottom {
    display: flex;
    height: 50px;
    border: 1px solid $chat-textarea-bakground;
    align-items: center;
    justify-content: center;

    .proceedButton {
      height: 30px;
      width: 100%;
      font-size: 10px;
      margin: 0 auto;
      justify-content: center;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 4px;
      background-color: $primary;
      text-transform: uppercase;

      &:hover,
      &:active {
        background-color: green;
      }

    }
  }

  .cartButton {
    // height: 30px;
    width: 105px;
    font-size: 10px;
    justify-content: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: $primary;
    text-transform: uppercase;

    &:hover,
    &:active {
      background-color: green;
    }
  }




}