@import "../../../styles/settings.scss";

.root {

  .banner {
    background-color: $banner-background;
    padding: 40px 0;
    color: white;
  }

  p {
    text-align: center;
    margin: 0;
  }

  .title {
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .subtitle {
    padding: 0 8px;
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: uppercase;

    span {
      color: $banner-orange-text;
    }
  }

  .breadcrumbs {
    background-color: $banner-menu-background;
    padding: 8px;
    text-transform: capitalize;
    height: 40px;

    p {
      text-align: start;
      word-spacing: 10px;
      color: #ffffff;

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover,
        &:active {
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .root {

    .banner {
      padding: 30px 0;

      .title {
        font-size: 50px;
      }

      .subtitle {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .root {

    .banner {
      padding: 20px 0;

      .title {
        font-size: 40px;
      }

      .subtitle {
        font-size: 15px;
      }
    }
  }
}