@import "../../../../styles/settings.scss";

.root {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: left;
  z-index: 100;

  .compareBar {
    display: flex;
    justify-content: center;

    .title {
      margin: auto 5px;
    }

    .comparedItem {
      position: relative;
      min-height: 3rem;
      width: 4rem;
      cursor: pointer;


      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .closeIcon {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        opacity: 0.5
      }

      &:hover img {
        opacity: 0.5;
      }

      &:hover .closeIcon {
        display: block
      }
    }

    .button {
      display: flex;
      align-items: center;
    }

  }
}

@media (max-width: 769px) {
  .root {
    .compareBar {
      .title {
        display: none;
      }
    }
  }
}