@import "../../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .title {
    margin: 5px;
    position: relative;
    text-transform: uppercase;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      bottom: -30%;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $text-color;
    }

    h5 {
      font-size: 16px;
    }
  }


  .brandList {
    padding: 5px 15px;


    li {
      font-size: 15px;
      padding: 2px 0;
      cursor: pointer;
      transition: 1s;
      ;

      h4 {
        font-size: 15px;
        margin: 5px;
      }
    }

    .number {
      margin-left: auto;
      font-size: 15px;
      border-radius: 50%;
      background-color: black;
      width: 25px;
      text-align: center;
      color: white;
    }

    .active .number {
      background-color: $primary;
    }

    .active {
      color: $primary;
      padding: 0 0 0 15px;
    }
  }
}