@import "../../../styles/settings.scss";

.root {
  position: absolute;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;



  .modalContainer {
    padding: 1rem 1rem 1rem 1rem;
    width: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid $primary;
    border-radius: 10px;
    overflow: scroll;


    .closeButton {
      font-size: 25px;
      position: absolute;
      top: 0;
      left: 7px;
    }

    .modalHeader {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      color: $primary;
    }

    .modalInfoContainer {
      padding: 20px;

      .imageContainer {
        //width: 230px;

        img {
          width: 100%;
        }
      }

      .inputsContainer {

        .textContainer {
          text-align: center;

          .productName {
            font-size: 20px;
            padding-bottom: 10px;
          }

          .mailInput {
            width: 100%;
            margin-bottom: 2px;
          }

          .textarea {
            width: 100%;
            resize: none;
          }
        }

        .buttonsContainer {
          padding: 20px;

          .buttons {
            text-align: center;

            .button {
              padding: 10px;
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .messageSent {
      font-size: 25px;
      color: $primary;
      text-align: center;
    }
  }
}

@media (max-width: 769px) {
  .root {
    .modalContainer {
      width: 30vh;

      .modalHeader {
        font-size: 20px;
      }

      .modalInfoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;

        .imageContainer {
          display: none;
        }

        .inputsContainer {
          width: 100%;


        }
      }

      .messageSent {
        font-size: 15px;
      }
    }
  }
}