@import "../../../styles/settings.scss";

.root {
  position: absolute;
  z-index: 999;

  .modalContainer {
    padding: 1rem 1rem 1rem 1rem;
    width: 60vh;
    height: 40vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid $primary;
    border-radius: 10px;

    .closeButton {
      font-size: 25px;
      position: absolute;
      top: 0;
      left: 7px;
    }

    .modalHeader {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      color: $primary;
    }

    .modalInfoContainer {
      padding: 20px;

      .imageContainer {
        width: 230px;

        img {
          width: 100%;
        }
      }

      .textContainer {
        text-align: center;

        .productName {
          font-size: 20px;
          padding-bottom: 10px;
        }

        .mailInput {
          width: 100%;
          margin-bottom: 2px;
        }

        .textarea {
          width: 100%;
          resize: none;
        }
      }
    }

    .buttonsContainer {
      padding: 20px;

      .buttons {
        text-align: center;

        .button {
          padding: 10px;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
}