@import "../../../styles/settings.scss";

.root {
  position: relative;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;


  .alertContainer {
    padding: 1rem 1rem 1rem 1rem;
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid $primary;
    border-radius: 10px;

    .closeButton {
      font-size: 25px;
      position: absolute;
      top: 0;
      left: 7px;

      .icon {
        color: $primary;
      }
    }

    .alertContent {
      padding: 20px;
      text-align: center;
      align-items: center;

      .alertHeader {
        font-size: 25px;
        color: $primary;
      }

      .alertInfoContainer {

        .imageContainer {
          width: 100%;
          border: 1px solid black;

          img {
            width: 100%;
          }
        }

        .textContainer {
          .productName {
            font-size: 20px;
          }

          .productInfoList {
            list-style: none;
            padding: 0;
            color: $granitGrey;
            font-size: 16px;

          }
        }
      }

      .buttonsContainer {

        .buttons {
          display: flex;
          gap: 10px;
          justify-content: center;


          .button {
            // margin: 10px;
            padding: 10px;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .root {
    .alertContainer {
      width: 60%;

      .alertContent {
        .alertHeader {
          font-size: 20px;
        }

        .alertInfoContainer {
          .alertImage {
            display: none;
          }
        }

        .rightContent {
          .textContainer {
            .productName {
              font-size: 18px;
            }

            .productInfoList {
              font-size: 15px;
            }

            .buttonsContainer {
              .buttons {
                flex-direction: column;

                .button {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }


    }
  }
}