@import "../../../styles/settings.scss";

.root {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: $text-color;


  .category {
    border: 1px solid $form-border-color;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    position: relative;

    .selectCategoryList {
      margin: 0;
      padding: 0 10px;
      color: $text-color;
      font-size: 14px;
      border: none;


      &:hover {
        .categoriesList {
          display: block;
        }

      }

      /*    .categoriesList {
        display: none;
        list-style: none;
        position: absolute;
        padding: 11px 0 0 0;
        z-index: 3;
        color: $text-color;
        font-size: 14px;

        li {
          background-color: rgb(255, 255, 255);
          padding: 8px 25px;
          border: 1px solid black;

          &:hover {
            background-color: $primary;
          }
        }
      } */

    }
  }

  .searchField {
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $form-border-color;

    input {
      text-align: center;
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
      margin: 0;
      padding: 0;
      color: $primary;
    }
  }
}

@media (max-width: 420px) {
  .root {
    flex-direction: column;

    .category {
      border-radius: 10px;
      height: 30px;
    }

    .searchField {
      border-radius: 10px;
      height: 30px;
      border-top: none;
    }

  }
}