@import "../../../styles/settings.scss";


.blogPosts {

  .blogPost {
    .postTitle {
      font-weight: 400;
    }

    .imageContainer {
      max-height: 400px;

      .postImage {
        width: -webkit-fill-available;
        max-height: 400px;
        object-fit: cover;
      }
    }

    .postText {
      margin: 15px 0 40px 0;
    }

    .blogInfoContainer {
      border-top: solid 2px grey;
      border-bottom: solid 2px grey;
      margin: 0 0 20px 0;
      display: flex;
      justify-content: space-between;

      .postFooter {
        display: flex;

        .postFooterIcons {
          padding: 2px 0;

          .icon {
            padding: 0 10px;
          }
        }
      }

      .readMoreColumn {
        padding: 2px 0;
        text-align: right;
      }

    }






  }
}