@import "../../../styles/settings.scss";

.root {
  .productDetails {
    border: 1px solid $chat-textarea-bakground;
    margin-bottom: 20px;

    .mainRow {
      padding-top: 10px;
      display: flex;

      .photoSection {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .photo {
          position: relative;
          height: 500px;
          overflow: hidden;

          .photoOverlay {
            background-color: rgba(128, 128, 128, 0.3);
            height: 50px;
            position: absolute;
            color: white;
            font-size: 40px;
            text-align: center;

          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .buttonZoom {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 20px;
            bottom: 10px;
            font-size: 20px;
            padding: 5px;

            .zoomIcon {
              padding: 0px;
            }
          }
        }

        .slider {
          height: 104px;
          margin: 0;

          .arrowButton {
            display: flex;
            background-color: #2a2a2a;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            text-decoration: none;
            width: 30px;

            &:hover {
              color: $primary;
            }
          }

          .thumbnailsContainer {
            display: flex;
            justify-content: space-between;

            .thumbnail {
              height: 104px;

              cursor: pointer;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.5;

                &.active {
                  opacity: 1;
                }

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .infoSection {
        padding: 20px;

        .headerRow {
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(128, 128, 128, 0.3);


          .title {
            h1 {
              font-size: 36px;
            }
          }

          .review {
            display: flex;
            justify-content: flex-start;

            .stars {
              padding: 2px;
            }

            .reviewsNumber {
              display: inline;
              white-space: nowrap;
            }

            .reviewCallButton {
              text-decoration: none;
              margin-left: 15px;
            }


          }


        }

        .priceRow {
          padding: 20px 0;
          border-bottom: 1px solid rgba(128, 128, 128, 0.3);

          .priceValue {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;


            .oldPrice {
              text-decoration: line-through;
              color: #a5a5a5;
              text-decoration-color: $text-color;
              margin-right: 10px;

            }

            .price {
              display: flex;
              align-items: center;

              .button {
                font-size: 20px;
              }
            }
          }
        }

        .buttonsRow {
          padding: 20px 0;
          border-bottom: 1px solid rgba(128, 128, 128, 0.3);
          display: flex;

          .quantity {
            padding-top: 20px;

            .amountInput {
              width: 55px;
              text-align: center;
              vertical-align: middle;
              margin: 5px;
              height: 30px
            }

            .amountControls {
              vertical-align: middle;
              margin: 5px;
              height: 30px;

            }
          }
        }
      }

      .overviewRow {
        padding: 20px 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);

        .overviewTitle {
          font-weight: bold;
          font-size: 18px;
        }

      }

      .infoRow {
        padding: 20px 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        text-transform: capitalize;

        span {
          font-weight: bold;
          padding-right: 5px;
        }
      }

      .socialRow {
        padding: 20px 0;

        .social {

          a {
            text-decoration: none;

          }

          .media {
            text-align: center;
            width: 120px;
            margin: 3px;
          }
        }
      }
    }
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 600ms;
}

.fadeOut {
  opacity: 0;
  transition: opacity 400ms;
}