@import "../../../styles/settings.scss";

.root {
  .productDetails {
    border: 1px solid $chat-textarea-bakground;
    margin-bottom: 20px;

    .mainRow {
      height: 680px;

      .photoSection {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .photo {
          position: relative;
          height: 500px;
          overflow: hidden;

          .photoOverlay {
            background-color: rgba(128, 128, 128, 0.3);
            height: 50px;
            position: absolute;
            color: white;
            font-size: 40px;
            text-align: center;

          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .slider {
          height: 104px;
          margin: 0;

          .arrowButton {
            display: flex;
            background-color: #2a2a2a;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            text-decoration: none;
            width: 30px;

            &:hover {
              color: $primary;
            }
          }

          .thumbnailsContainer {
            display: flex;
            justify-content: space-between;

            .thumbnail {
              height: 104px;
              width: 100px;
              cursor: pointer;


              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.5;

                &.active {
                  opacity: 1;
                }

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .infoSection {
        padding: 20px;

        .headerRow {
          .title {}

          .review {
            .stars {
              padding: 2px;
            }

            .reviewCall {
              display: inline;
              margin: 20px;
            }
          }
        }

        .priceRow {}

        .buttonsRow {}

        .overViewRow {}

        .infoRow {}

        .socialRow {}
      }
    }
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 600ms;
}

.fadeOut {
  opacity: 0;
  transition: opacity 400ms;
}