@import "../../../styles/settings.scss";

.root {

  h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .reviewBox {
    h4 {
      font-size: 15px;
      margin: 15px 0;
    }

    .form {

      .ratingBox {
        margin-bottom: 10px;
      }

      .textAreaContainer {
        text-align: center;
        justify-content: center;

        .textarea {
          resize: none;

        }
      }

      .inputsContainer {

        .input {
          //width: 100%;
        }

        .button {
          text-transform: uppercase;
        }
      }


    }
  }
}