@import "../../../../styles/settings.scss";

.root {
  .nextRows {
    font-size: 11px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $cart-border;
    border-bottom: none;
    padding: 8px 0;

    .vertCenter {
      display: flex;
      align-items: center;
      height: 100%;


      .button {
        color: $primary;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;

        &:hover {
          color: $cart-border;
        }

        .tableIcon {
          width: 100%;
          font-size: 25px;
          align-items: center;
        }
      }
    }

    .amountInput {
      width: 45px;
      text-align: center;
      vertical-align: middle;
      margin: 5px;
    }

    .amountControls {
      text-decoration: none;
      font-size: 20px;
      vertical-align: middle;
      margin: 5px;
    }
  }

  .productImage {
    height: 70px;
    min-width: 70px;
    cursor: pointer;
    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .rightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .price {
    color: rgb(79, 183, 79);
  }
}

@media (max-width: 576px) {
  .root {
    .rightColumn {
      flex-direction: column;
    }
  }
}