@import "../../../styles/settings.scss";

.root {
  .cartBar {
    margin-top: 14px;
    background-color: $chat-textarea-bakground;
    height: 60px;
    display: flex;
    align-items: center;
  }

}