@import "../../../../styles/settings.scss";

.root {


  .productColumn {
    width: 100%;
    text-align: center;

    .productTitleRow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;

      .productTitle {
        font-size: 15px;
        padding: 5px;
      }
    }

    .productImageRow {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 200px;
      height: 200px;
      margin-bottom: 10px;

      .productPhoto {
        height: 80%;
        width: 80%;


        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .infoSection {
      justify-content: center;
      display: flex;
      height: 100px;
      border-top: 1px solid black;

      .name,
      .color,
      .rating,
      .price,
      .productLink,
      .deleteCompare {
        text-transform: capitalize;
        margin: auto;

        p {
          margin: 0;
        }
      }
    }


  }
}