@import "../../../../styles/settings.scss";

.root {


  .productColumn {
    width: 100%;
    text-align: center;

    .productTitleRow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;

      .productTitle {
        font-size: 15px;
        padding: 5px;
      }
    }

    .productImageRow {
      display: flex;
      padding: 0 5px;
      align-items: center;
      justify-content: center;
      height: 200px;
      margin-bottom: 10px;

      .productPhoto {
        height: 100%;
        width: 90%;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;

        }
      }
    }

    .infoSection {
      justify-content: center;
      display: flex;
      height: 100px;
      border-top: 1px solid black;

      .name,
      .color,
      .rating,
      .price,
      .productLink,
      .deleteCompare {
        text-transform: capitalize;
        margin: auto;
        padding: 0 5px;

        p {
          margin: 0;
        }
      }
    }


  }
}

@media (max-width: 1200px) {
  .root {
    .productColumn {
      .productImageRow {

        height: 150px;
      }
    }
  }
}

@media (max-width: 992px) {
  .root {
    font-size: 13px;

    .productColumn {

      .productTitleRow {


        .productTitle {
          font-size: 13px;

        }
      }


      .productImageRow {

        height: 120px;
      }

      .infoSection {
        .button {
          font-size: 13px;
        }
      }
    }
  }
}